body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}

nav li {
    list-style-type: none;
    display: inline-block;
    /*display: flex;*/
    align-items: center;
    padding: 6px;
    margin: 0 5px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
}

footer {
    background-color: #f1f1f1;
}

footer li {
    /*margin: 0 1rem;
    list-style-type: none;
    display: inline-block;*/
    list-style-type: none;
    display: inline-block;
    /*display: flex;*/
    align-items: center;
    padding: 6px;
    height: 30px;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0 5px;
}

.country li {
    display: flex;
    padding: 0px;
    margin: 0px;
}

/* Center the Google logo and Search Bar underneath */

/*
#logo{
    margin-bottom:40%;
    text-align: center;
}

#search {
    margin-top: 50%%;
    text-align: center;
}*/

/* Position option for French site */

p {
    font-size: small;
    text-align: center;
}

.buttons li {
    font-size: 18px;
    margin: 0 1rem;
    padding: 8px 16px;
    list-style-type: none;
    display: inline-block;
    background-color: #f1f1f1;
    text-decoration: none;
}