body {
    font-size: 14px;
}

nav li {
    margin: 0 1rem;
    list-style-type: none;
    display: inline-block;
  }

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: small;
}